body {
    background-color: #ffe6f0;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

h1 {
    color: #ff4d88;
}

.buttons {
    margin-top: 20px;
}

button {
    padding: 12px 24px;
    font-size: 18px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#yesBtn {
    background-color: #ff4d88;
    color: white;
}
.valentine-img {
    width: 200px;
    margin-top: 15px;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}


#noBtn {
    background-color: #cccccc;
}
button:hover {
    transform: scale(1.1);
    transition: 0.2s ease;
}
